<%- include('../header'); -%>
<%- include('../sidebar'); -%>
 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add course
      <small>List Of Courses</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>



  <!--/.col (left) -->
  <!-- right column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Course Details</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" action="/course" method="post">
        <div class="box-body">
            
          <div class="form-group">
            <label for="inputcourse" class="col-sm-2 control-label">Course Title</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputcourse" placeholder="course Name" name="course" required = 'required'>
            </div>

          </div>

        </div>

   
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-info pull-center">Course Add</button>
    </div>
    <!-- /.box-footer -->
    </form>
  </div>
