body {
	margin: auto;
  margin-top: 150px;
  
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 375px;
	flex-direction: column;
	gap: 65px;
	background: #e8e5e5;
	
	border-radius: 8px;
  }
.card {
    width: 240px;
    height: 324px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #e3e3e3;
    box-shadow: 5px 5px 22px #c8c8c8,
    -5px -5px 22px #fefefe;
border-radius: 8px;
  }
  
  .card > * {
    margin: 0;
  }
  
  .card__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }
  
  .card__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .card__form .button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 
  